/tmp
mysql/data/ib_logfile0
mysql/data/ib_logfile1
mysql/data/mysql_error.log
mysql/data/mysql.pid
mysql/data/ibtmp1

/mysql/data

*.ibd
*.pid
mysql/data/ibdata1
mysql/data/ibtmp1
mysql/data/myedu/data_log.ibd
mysql/data/mysql.pid
mysql/data/mysql/innodb_index_stats.ibd
mysql/data/mysql/innodb_table_stats.ibd